.container {
    display: grid;
    gap: 1%;
    grid-template-areas: 
    "header"
    "main"
    "footer";

}

.header {
    grid-area: header;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    color: black;
    text-decoration: none;
    font-family: "Arial black", 'gadget', sans-serif;
    text-transform: uppercase; 
    font-size: 14px;
}

.header:hover {
    color: #0ca49c;
}

.main {
    grid-area: main;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 6%;
}

.main h1 {
    background-color: rgb(37, 37,37);
    color: white;
    font-family: 'Poller One', cursive;
    text-transform: uppercase;
    padding: 10px 10px 10px;
    font-size: 20px;
    margin-bottom: 5%;
}

.main img {
    width: 450px;
    height: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    border: solid black;
    border-width: 2px;
}

.main h2 {
    color: white;
    background-color: rgb(37, 37,37);
    display: inline-block;
    padding: 5px 25px 6px;
    font-family: "Arial black", 'gadget', sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0%;
    
}

.main p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 175%;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}

a {
    color: black;
}

.footer { 
    grid-area: footer;
    justify-content: space-around;
    display: flex;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-bottom: 2.3%;
    padding: 20px 0px 20px;
}
    
.footer p { 
        
        background-color: #252525;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}   
    
    /* social media, font awesome (ie, fa) icons */
    
.fa {
        padding: 10px;
        text-align: center;
        text-decoration: none;
        width: auto;
        height: auto; 
        color: white;
        background-color: rgb(37, 37, 37);
        border: solid white;
}
    
    .fa:hover { 
        background-color: white;
        color: black;
        border: solid black    
}

@media(min-width: 576px) {

}










@media(min-width: 992px) {
    .container {  
        display: grid;
        gap: 0%;
        grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}
/* add fullscreen rules here */

.header {
    margin: 35px 20px 40px;
}

.main {
margin-bottom: 0%;
padding: 3%;
margin-left: 10%;
margin-right: 10%;

}

.main h1 {
    margin-top: 0%;
    padding: 10px 28px 10px;
    font-size: 20px;
    font-size: 35px;
    display: inline-block;
}

.main img {

    width: 60%;
    /* height: auto;  */
    border: solid black;
    border-width: 2px;
    margin-bottom: 0%;
}

.main h2 {
    font-size: 25px;
    padding: 4.5px 26px 4.4px;
    margin-top: 1%;
}

.main p {
    font-size: 14px;
    margin-left: 29%;
    margin-right: 29%;
    padding-top: 1.2%;
    padding-bottom: 0%;
    text-align: center;
}

.footer p { 
    font-size: 14px;
}   

.fa {
        padding: 30px;
}
}
