.container {
    display: grid;
    gap: 1%;
    grid-template-areas: 
        "header"
        "body1"
        "images"
        "footer"; 
}

.header {
    grid-area: header;
    text-align: center;
    margin-top: 2%;
    color: black;
    text-decoration: none;
    font-family: "Arial black", 'gadget', sans-serif;
    text-transform: uppercase; 
    font-size: 14px; 
    
}

.header:hover {
    color: #0ca49c;
}

.body1 { 
    grid-area: body1;
    background-image: url("the-beacon.jpeg");   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 20px;
   } 

.body1 h2 {
    background-color: white;
    color: black;
    font-family: 'Poller One', cursive;
    display: inline-block;
    margin-left: 1%;
    padding: 7px 5px 7px;
    font-size: 14px;
    
    }

.body1 p { 
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 1;
    
}

.button { 
    padding: 10px 8px 8px;
    background-color: #0ca49c;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    cursor: pointer;
    border: none;
    margin-left: 1%;
    margin-bottom: 12px;
}

.button:hover { 
    background-color: #27cac2;
}

.images {
    grid-area: images;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.images img {
    width: 425px;
    height: auto;  
    border: solid black;
    border-width: 2px;
    opacity: 0.7;
    cursor: pointer;
}

img:hover {
     opacity: 1;
}

.images p {
    font-family: 'Poller one', cursive;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.footer { 
grid-area: footer;
justify-content: space-around;
display: flex;
background-color: rgb(37, 37, 37);
color: white;
margin-bottom: 2.3%;
padding: 20px 0px 20px;
}

.footer p { 
    
    background-color: #252525;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}   

/* social media, font awesome (ie, fa) icons */

.fa {
        padding: 10px;
        text-align: center;
        text-decoration: none;
        width: auto;
        height: auto; 
        color: white;
        background-color: rgb(37, 37, 37);
        border: solid white;
}

.fa:hover { 
    background-color: white;
    color: black;
    border: solid black
    
}

@media(min-width: 576px) {
    .images {
        flex-direction: row;
    }
}







@media (min-width: 992px) {
    .container {  
        display: grid;
        gap: 3%;
        grid-template-areas:
        "header header header"
        "body1 body1 body1"
        "images images images"
        "footer footer footer";
    }
/* add fullscreen rules here */

.header {
    margin: 19px;
    padding: 0px 0px 3px;
    font-size: 14px;
}

.body1 { 
    text-align: left;
    padding: 100px;
}

.body1 h2 {
    margin-left: 50%;
    padding: 23px 27px 20px;
    font-size: 20px;

}

.body1 p { 
    margin-left: 50%;
    font-size: 20px;
    padding: 12px 27px;
}

.button { 
    margin-left: 50%;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 26px 27px 22px;
}

.images {
    flex-direction: row;
   justify-content: center;
}

.images img {
    width: 300px;
    margin-left: 20px; 
}

.footer p { 
    font-size: 14px;
}   

.fa {
        padding: 30px;
}
}


























